.category-box {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    background-color: #23b14d;
    padding: 0.5rem;
    color: white;
    font-weight: bold;

}

.category-box:hover {
    background-color: green;
}

.category-box p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.category-box img {
    border-radius: 4rem;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .category-box {
        display: flex;
        flex-direction: column;
        width: 150px;
        align-items: center;
    }

    .category-box img {
        border-radius: 4rem;
        width: 70px;
        height: 70px;
    }

    .nav-links span {
        display: none;
    }
}