.Footer-container {
    background-color: #410080;
    padding: 0.5rem;
}

.footer-icons {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-cpr p {
    text-align: center;
    color: white;
}

.link-icon {
    text-decoration: none;
    color: white;
}

.link-icon:visited {
    color: white;
}