.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #23b14d;
    align-items: center;
    /* border-bottom: 2px solid red; */
    /* position: fixed;
    right: 0;
    left: 0;
    top:0; */

}

.header input {
    width: 400px;
    padding: 1rem 1.5rem;
    height: 40px;
}

.nav-links-main {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
}


.nav-links {
    font-size: 25px;
    margin: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
}

@media (max-width: 767px) {
    /* .nav-links-main {
        display: none;
    } */
    .header input {
       display: none;
    }
}