.typography {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #555;
}

.typography h3,
.typography h2 {
    font-weight: 700;
    color: #343536;
}

.blog-card-arr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

.blog-card {
    display: flex;
    max-width: 900px;
    padding: 10px;
    border: 1px solid #666;
    flex-wrap: wrap;
    gap: 10px;
}

.main-img-display {
    width: 100%;
    max-height: 350px;
}

.blog-card img {
    max-width: 200px;
    /* max-height: 200px; */
}

.blog-card h2, .blog-card p{
    max-width: 500px;
}


@media (max-width: 500px) {
    .blog-card img {
        width: 100%;
        /* height: 200px; */
    }
}


@media (max-width: 1200px) {
    .typography {
        padding: 0.5rem;
    }

    .item-1,
    .item-2 {
        display: none;
    }

}